__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
.DS_Store

data/
*.pt
*.bin
*.ckpt
*.log

external/spert/.git/
external/spert/data/log/
external/spert/data/save/
external/spert/**/__pycache__/
external/spert/.ipynb_checkpoints/
external/spert/spert/.ipynb_checkpoints/
